// 内外边距通常让各个浏览器样式的表现位置不同
body, div,
pre, code,
h1, h2, h3, h4, h5, h6,
th, td, dl, dt, dd, ul, ol, li,
form, fieldset, legend, input, textarea, button,
main, aside, header, footer, section, hgroup, menu, nav,
p, blockquote, hr, article, aside, details, figcaption, figure {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// 充满高度，使子元素可计算高度 calc
html, body, #app { height: 100% }

// 避免body收动态元素影响而出现滚动条
body {
  font-size: 14px;
  overflow: hidden;
}

// 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG)
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
  display: block;
}

// HTML5 媒体文件跟 img 保持一致
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

// 要注意表单元素并不继承父级 font 的问题
body, button, input, select, textarea {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei" ,"微软雅黑", Arial, sans-serif;
}

input, select, textarea {
  font-size: 100%;
}

// 去掉各Table  cell 的边距并让其边重合
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// IE bug fixed: th 不继承 text-align
th { text-align: inherit; }

// 去除默认边框
img { border: 0 }

// 设置默认的与Element一致的浅色边框与内边距
fieldset {
  padding: 0 10px;
  border: 1px solid $--border-color-lighter;
}

// 去掉 firefox 下此元素的边框
abbr, acronym {
  border: 0;
  font-variant: normal;
}

// 一致的 del 样式
del { text-decoration: line-through }

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: 500;
}

// 去掉列表前的标识, li 会继承
ol, ul { list-style: none }

// 对齐是排版最重要的因素, 别让什么都居中
caption, th { text-align: left }

// 来自yahoo, 让标题都自定义, 适应多个系统应用
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 500;
}

q:before, q:after { content:'' }

// 统一上标和下标
sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup { top: -0.5em }
sub { bottom: -0.25em }

// 正常链接 未访问
a:link { color: #0ae }
// 鼠标悬停
a:hover {
  color: #0ae;
  text-decoration: underline;
}

// 默认不显示下划线，保持页面简洁
ins, a { text-decoration: none }

// 代码字体
code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

// 去除按钮默认样式，方便嵌套图标
button {
  background: none;
  border: none;
  outline: none;
}

hr {
  border-width: 1px 0 0;
  border-color: $--border-color-lighter;
  opacity: .3;
}

// 与 Element-UI 保持一致的滚动条样式
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  z-index: 11;
  transition: background-color .3s;
  // .el-scrollbar__bar:hover { cursor: pointer !important; }
}
::-webkit-scrollbar-thumb {
  width: 7px;
  background-color: $--scrollbar-background-color;
  border-radius: 5px;
  &:hover { background-color: $--scrollbar-hover-background-color; }
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background-color: inherit;
}
::-webkit-scrollbar-track-piece {
  width: 7px;
  background-color: inherit;
}
