/* 元素盒子间距
-------------------------- */
$space-size: $-base-size;
$spaces: (
  0: 0,
  xs: $space-size * .5,   // 5px
  sm: $space-size,        // 10px
  md: $space-size * 1.5,  // 15px
  lg: $space-size * 2,    // 20px
  xl: $space-size * 3,    // 30px
  xxl: $space-size * 5,   // 50px
);

// 区块间隔特定间隔定义
$block-space-size: $-block-space;
$block-spaces: (
  xs: $block-space-size * .5,   // 3.5px
  sm: $block-space-size,        // 7px
);

@mixin box-space($name, $value, $and: 0) {
  @if $and == 0 {
    .mar-a-#{$name} { margin: $value !important }
    .mar-l-#{$name}, .mar-x-#{$name} { margin-left: $value !important }
    .mar-r-#{$name}, .mar-x-#{$name} { margin-right: $value !important }
    .mar-t-#{$name}, .mar-y-#{$name} { margin-top: $value !important }
    .mar-b-#{$name}, .mar-y-#{$name} { margin-bottom: $value !important }
    .pad-a-#{$name} { padding: $value !important }
    .pad-l-#{$name}, .pad-x-#{$name} { padding-left: $value !important }
    .pad-r-#{$name}, .pad-x-#{$name} { padding-right: $value !important }
    .pad-t-#{$name}, .pad-y-#{$name} { padding-top: $value !important }
    .pad-b-#{$name}, .pad-y-#{$name} { padding-bottom: $value !important }    
  } @else {
    &.mar-a-#{$name} { margin: $value !important }
    &.mar-l-#{$name}, &.mar-x-#{$name} { margin-left: $value !important }
    &.mar-r-#{$name}, &.mar-x-#{$name} { margin-right: $value !important }
    &.mar-t-#{$name}, &.mar-y-#{$name} { margin-top: $value !important }
    &.mar-b-#{$name}, &.mar-y-#{$name} { margin-bottom: $value !important }
    &.pad-a-#{$name} { padding: $value !important }
    &.pad-l-#{$name}, &.pad-x-#{$name} { padding-left: $value !important }
    &.pad-r-#{$name}, &.pad-x-#{$name} { padding-right: $value !important }
    &.pad-t-#{$name}, &.pad-y-#{$name} { padding-top: $value !important }
    &.pad-b-#{$name}, &.pad-y-#{$name} { padding-bottom: $value !important }
  } 
}

@each $name, $value in $spaces { @include box-space($name, $value); }

@each $name, $value in $block-spaces {
  .g-main > .el-row, .g-main > .el-row > .el-col {
    @include box-space($name, $value, 1);
  }
}



/* animation 动画
-------------------------- */
// 摇晃
.am-shake { @include animation(shake, $duration: .3s); }
.am-shake-hover:hover { @include animation(shake, $duration: .3s); }

// 旋转
.am-spin { @include animation(spin, $duration: 1s); }
.am-spin-hover:hover { @include animation(spin, $duration: 1s); }

// 显隐
.am-fade { @include animation(fade, .8s); }
.am-fade-hover:hover { @include animation(fade, .8s); }

// 缩放
.am-zoomIn { @include animation(zoomIn, $count: 1); }
.am-zoomIn-hover:hover { @include animation(zoomIn, $count: 1); }

// 回弹
.am-bounceIn { @include animation(bounceIn, .75s, 1); }
.am-bounceIn-hover:hover { @include animation(bounceIn, .75s, 1); }

// 跌落
.am-bounceInDown { @include animation(bounceInDown, .75s, 1); }
.am-bounceInDown-hover:hover { @include animation(bounceInDown, .75s, 1); }



/* 对齐方式
-------------------------- */
.text-center { text-align: center !important }
.text-left { text-align: left !important }
.text-right { text-align: right !important }
.text-justify { text-align: justify !important }
.vertical-top { vertical-align: top !important }
.vertical-middle { vertical-align: middle !important }
.vertical-bottom { vertical-align: bottom !important }

// 代码
.text-code {
  font-family: 'Consolas';
  font-size: 14px;
}

// 文字竖排
.text-vertical {
  margin: 0 auto;
  width: 15px;
  font-size: 15px;
  line-height: 20px;
}


/* 浮动布局
-------------------------- */

.fn-left { float: left }

.fn-right { float: right }

.fn-clear {
  zoom: 1; // for IE6 IE7
  &:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
  }
}

// 设置内联, 减少浮动带来的bug
.fn-left, .fn-right { display: inline }

// 阴影
.fn-shadow { box-shadow: $--dialog-box-shadow !important; }

// 隐藏, 通常用来与 JS 配合
body .fn-hide { display: none }



/* 弹性布局
https://blog.csdn.net/wildye/article/details/80258349
-------------------------- */

.fn-flex { display: flex; };
.flex-1 { flex: 1; }
.flex-2 { flex: 2; }
.flex-3 { flex: 3; }
.flex-4 { flex: 4; }
.flex-5 { flex: 5; }
.flex-6 { flex: 6; }

.flex-x-start { @extend .fn-flex; justify-content: flex-start }       // 水平左对齐
.flex-x-end { @extend .fn-flex; justify-content: flex-end }           // 水平右对齐
.flex-x-center { @extend .fn-flex; justify-content: center }          // 水平居中对齐
.flex-x-between { @extend .fn-flex; justify-content: space-between }  // 水平两端对齐
.flex-x-around { @extend .fn-flex; justify-content: space-around }    // 水平分散对齐

.flex-y-start { @extend .fn-flex; align-items: start }                // 垂直顶部对齐
.flex-y-end { @extend .fn-flex; align-items: end }                    // 垂直底部对齐
.flex-y-center { @extend .fn-flex; align-items: center }              // 垂直居中对齐
.flex-y-baseline { @extend .fn-flex; align-items: baseline }          // 垂直基线对齐
.flex-y-stretch { @extend .fn-flex; align-items: stretch }            // 垂直填充

.flex-ys-start { @extend .fn-flex; align-content: flex-start }        // 多行垂直顶部对齐
.flex-ys-end { @extend .fn-flex; align-content: flex-end }            // 多行垂直底部对齐
.flex-ys-center { @extend .fn-flex; align-content: center }           // 多行垂直居中对齐
.flex-ys-between { @extend .fn-flex; align-content: space-between }   // 多行垂直分散对齐-上下贴边
.flex-ys-around { @extend .fn-flex; align-content: space-around }     // 多行垂直分散对齐-上下空隙
.flex-ys-stretch { @extend .fn-flex; align-content: stretch }         // 多行垂直分散对齐-上贴边



/* 颜色状态
-------------------------- */
.text-primary { color: $--color-primary !important }
.text-success { color: $--color-success !important }
.text-danger { color: $--color-danger !important }
.text-warning { color: $--color-warning !important }
.text-info { color: $--color-info !important }

.bg-primary, .bg-success, .bg-danger, .bg-warning, .bg-info { color: $--color-white; }

.bg-primary { background-color: lighten($--color-primary, 5%) !important }
.bg-success { background-color: lighten($--color-success, 5%) !important }
.bg-danger { background-color: lighten($--color-danger, 5%) !important }
.bg-warning { background-color: lighten($--color-warning, 5%) !important }
.bg-info { background-color: lighten($--color-info, 5%) !important }

.border-primary { border-color: $--color-primary !important; }
.border-success { border-color: $--color-success !important; }
.border-danger { border-color: $--color-danger !important; }
.border-warning { border-color: $--color-warning !important; }
.border-info { border-color: $--color-info !important; }

.border-t { border-top: 1px solid $--border-color-lighter; }
.border-b { border-bottom: 1px solid $--border-color-lighter; }
.border-l { border-left: 1px solid $--border-color-lighter; }
.border-r { border-right: 1px solid $--border-color-lighter; }
.border-a { border: 1px solid $--border-color-lighter; }
.border-x { @extend .border-l; @extend .border-r; }
.border-y { @extend .border-t; @extend .border-b; }

// 简单的渐变
.fn-linear { @include bg-linear(#fcfcfc, #f1f1f1); }

// 浅色的渐变
.fn-linear-light { @include bg-linear(#fcfcfc, #f9f9f9); }



/* 文字处理
-------------------------- */
// 次级标题 15px
.title-minor {
  font-size: $s-title-minor-size;
  font-weight: $s-title-minor-bold;
  color: $s-title-minor-color;
}

// 信息块标题 14px
.title-info {
  $bg: mix($--color-white, $--color-primary, 96%);
  display: block;
  position: relative;
  padding: 0 10px;
  // padding: 2.5px 10px;
  font-size: 15px;
  font-weight: $s-title-info-bold;
  color: $--color-primary;
  border-left: 3px solid $--color-primary;
  // &::after {
  //   content: '';
  //   position: absolute;
  //   height: 12px;
  //   width: 4px;
  //   background-color: $--color-primary;
  //   left: 0;
  //   top: 8px;
  // }
  // &::before {
  //   content: '';
  //   position: absolute;
  //   width: 100%;
  //   height: 1px;
  //   left: 0;
  //   bottom: 0;
  //   background: linear-gradient(to right, $--color-primary , transparent);
  // }
}

.title-drag {
  padding: 0 10px;
  height: $table-cell-h;
  line-height: $table-cell-h;
  color: $--color-primary;
  
}

// 文字加粗
.font-bold { font-weight: bold }

// 单行文字溢出时出现省略号，需设定宽度
.fn-text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 圆角边框
.fn-radius { border-radius: 50%; }

// 强制不换行
.fn-no-wrap { white-space: nowrap }

// 强制英文单词不换行
.fn-en-wrap { word-break: break-all }

// 自动换行
.fn-aoto-wrap {
  word-wrap: break-word;
  word-break: normal;
}

// chrome 下字体过小的问题
.fn-webkit-adjust {
  -webkit-text-size-adjust: none;
}

// 跳转链接 - 默认下划线
.fn-text-link {
  color: #0ae;
  text-decoration: underline;
}

// 下载链接 - 悬浮显示下划线
.fn-down-link {
  color: #0ae;
  &:hover { text-decoration: underline };
}

// 自适应滚动条
.fn-over-y {
  overflow-x: hidden;
  overflow-y: auto;
}

// 禁选文字
.fn-no-select {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

// 按钮间隔
.fn-space-x {
  width: 1px;
  margin: 0 10px;
  font-size: 16px;
  color: $--border-color-lighter;
}

// 宽度填充
.fill-w { width: 100% !important; }

// 高度填充
.fill-h { height: 100% !important; }

.fill-auto { height: auto !important; }



/* 鼠标指针形状
-------------------------- */
.z-text { cursor: text !important; }              // 输入光标 I
.z-move { cursor: move !important; }              // 移动
.z-wait { cursor: wait !important; }              // 等待 o
.z-auto { cursor: auto !important; }              // 还原状态
.z-help { cursor: help !important; }              // 箭头 ?
.z-default { cursor: default !important; }        // 默认-指针箭头
.z-pointer { cursor: pointer !important; }        // 手形
.z-resize-x { cursor: e-resize !important; }      // 左右双向箭头
.z-resize-y { cursor: s-resize !important; }      // 上下双向箭头
.z-grab { cursor: grab !important; }              // 伸手
.z-grabbing { cursor: grabbing !important; }      // 握拳
.z-not-allowed { cursor: not-allowed !important } // 禁用

.z-text, .z-move, .z-wait, .z-auto, .z-help, .z-default, .z-pointer {
  > .el-input, input { cursor: inherit !important; }
}

// 扩大点击区域
.z-click-extend { @include click-extend(10px); }



/* 区块缺省状态
-------------------------- */
.empty {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 75px;
  height: 50px;
  background-image: url(../assets/img/column_empty_750x50.jpg);
  &::after {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    color: $-color-tree-icon;
    white-space: nowrap;
  }
}
.empty-alarm { background-position: -75px; }      // 待处理警报
.empty-task { background-position: -150px; }      // 小组今日任务进度
.empty-contract { background-position: -225px;  } // 合同提醒
.empty-perform { background-position: -300px; }   // 最近完成任务
.empty-ops { background-position: -375px; }       // 今日运维进展
.empty-notice { background-position: -450px; }    // 通知公告
.empty-order { background-position: -525px; }     // 预约
.empty-opinion { background-position: -600px; }   // 意见
.empty-gtask { background-position: 675px; }      // 代办任务
@each $name, $value in $card-empty-text {
  .empty-#{$name}::after { content: $value; }
}
