
$img-path: '../assets/img/login';
$img-login-bg: '#{$img-path}/login_bg_1600x1000.png';
$img-login-icon-pc: '#{$img-path}/login_icon_pc_41x33.png';
$img-login-icon-code: '#{$img-path}/login_icon_code_54x49.png';