// 顶栏
.app-head {
  display: flex;
  width: 100%;
  height: $-head-height;
  line-height: $-head-height;
}

// 顶栏内容
.app-head > .app-head-content {
  position: relative;
  flex: 1;
  height: $-head-height;
  transition: all $-transition;
  box-shadow: 0 1px 1px rgba(0,0,0,.03), 0 1px 0 rgba(0,0,0,.03);

  > .app-tags {
    height: $-head-height;
    box-shadow: none;
    > .container {
      line-height: $-head-height;
    }
    > .btn > i,
    > .tags-dropdown__close > .btn > i {
      top: auto !important;
    }
    > .tags-dropdown__close > .tags-dropdown__overlay {
      top: 36px;
      &.m-dropdown {
        right: auto !important;
        margin-left: -60px;
      }
    }
  }
  > .app-head-content__btn {
    flex: 1;
    text-align: right;
    position: relative;
    top: -1px;
    white-space: nowrap;
  }

  .btn {
    position: relative;
    display: inline-block;
    width: $-head-height;
    height: inherit;
    line-height: inherit;
    text-align: center;
    cursor: pointer;
  }

  .item-user,
  .item-helper {
    display: inline-block;
    width: auto;
    > .btn {
      border-left: none;
    }
  }
  .btn-more {
    content: '';
    width: 0;
    height: 0;
    border-style: solid dashed dashed;
    overflow: hidden;
    cursor: pointer;
    transition: all .2s;
    -webkit-transition: all .2s;
    position: absolute;
    top: 50%;
    right: 3px;
    margin-top: -3px;
    border-width: 6px;
    border-top-color: rgba(255,255,255,.7);
    &.mored {
      margin-top: -9px;
      border-style: dashed dashed solid;
    }
  }
}
