$head-height: 1.43rem;
$foot-height: 2.38rem;
$body-height: calc(100% - #{$head-height + $foot-height});

body { min-width: 1366px; }

/* 布局定位
--------- --------- --------- --------- --------- */
.page-home {
  width: 100%;
  height: 100%;
  position: relative;
  background: {
    size: 100% 100%;
    repeat: no-repeat;
    position: center;
    image: url('~@/assets/wholeprocessImage/bg.png'); // 背景
  }
  .btn { cursor: pointer; }
}

.page-home > aside {
  &::before{
    content: '';
    height: 30%;
    width: 100%;
  }
  box-sizing: border-box;
  width: 8%;
  height: 100%;
  position: absolute;
  right: 0%;
  top: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  opacity: 0;
  transition: all 1s linear;
  &:hover{
    opacity: 1;
  }
  @for $i from 1 through 3 {
    > .aside_#{$i} {
      cursor: pointer;
      width: 48%;
      height: 7%;
      margin: 0 0 20% 10%;
      background: {
        size: 100% 100%;
        repeat: no-repeat;
        position: center;
        // image: url('~@/assets/img/home/aside_#{$i}.png');
      }
    }
  }
}

.page-home > .home_header {
  position: relative;
  height: $head-height;
  > .sub-control {
    height: 100%;
    width: 100%;
    position: absolute;
    >.left-time {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background: {
        size: contain;
        repeat: no-repeat;
        position: left;
        image: url('~@/assets/wholeprocessImage/leftTime.png');
      }
    }
    >.right-user {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      background: {
        size: contain;
        repeat: no-repeat;
        position: right;
        image: url('~@/assets/wholeprocessImage/ringtUser.png');
      }
    }
  }
  > .header-title {
    position: absolute;
    width: 100%;
    height: 100%;
    background: {
      size: auto;
      repeat: no-repeat;
      position: 50% 100%;
      image: url('~@/assets/wholeprocessImage/headerTitle.png');
    }
  }
  .Logout {
    position: absolute;
    display: flex;
    top: 0.4rem;
    right: 0.56rem;
    width: 1.9rem;
    height: 0.36rem;
    > img {
      height: 0.36rem;
      width: 0.36rem;
    }
    > figcaption {
      flex: 1;
      display: flex;
      flex-direction: column;
      height: 100%;
      color: #02b1d2;
      font-size: 0.14rem;
      padding-left: 0.1rem;
      > .Logout_user {
        flex: 1;
        display: flex;
        align-items: flex-start;
        > .hide {
          position: relative;
          width: 100%;
          height: 100%;
          max-width: 1.41rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          z-index: 999;
        }
      }
      > .Logout_icon {
        flex: 1;
        display: flex;
        align-items: center;
        > span {
          margin-right: 0.15rem;
        }
        > img {
          width: 0.14rem;
          height: 0.14rem;
        }
      }
    }
  }
}

.page-home > .home_body {
  width: 90.5%;
  height: 80%;
  margin: 0 auto;
  margin-top: 1%;
  .body-header{
    width: 100%;
    height: 70%;
    position: relative;
    overflow: hidden;
    .body-bg-svg {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
    .header-left{
      position: absolute;
      left: 5%;
      bottom: 15%;
      width: 17%;
      height: 50%;
    }
    .header-center{
      width: 60%;
      height: 60%;
      margin: 5% auto;
      position: relative;
      background: {
        size: 100% 100%;
        repeat: no-repeat;
        position: center;
        // image: url('~@/assets/img/home/center.png');
      }
      .center-left{
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        padding: 3% 0.5% 4% 5%;
        overflow: hidden;
        @for $i from 1 through 6 {
          .left_#{$i} {
            float: left;
            width: 33.33%;
            height: 50%;
            cursor: pointer;
            background: {
              size: 100% 100%;
              repeat: no-repeat;
              position: center;
              // image: url('~@/assets/img/home/left_#{$i}.png');
            }
            &:hover{
              // background-image: url('~@/assets/img/home/left-hover_#{$i}.png');
            }
          }
        }
      }
      .center-right{
        box-sizing: border-box;
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        padding: 3% 4% 3.5% 1%;
        overflow: hidden;
        @for $i from 1 through 6 {
          .right_#{$i} {
            float: left;
            width: 33.33%;
            height: 50%;
            cursor: pointer;
            background: {
              size: 100% 100%;
              repeat: no-repeat;
              position: center;
              // image: url('~@/assets/img/home/right_#{$i}.png');
            }
            &:hover{
              // background-image: url('~@/assets/img/home/right-hover_#{$i}.png');
            }
          }
        }
      }
    }
    .header-right{
      position: absolute;
      right: 5%;
      bottom: 15%;
      width: 17%;
      height: 50%;
      >.header-right-svg{
        transform: scaleX(-1);
      }
    }
    .header-title {
      position: absolute;
      left: 0;
      right: 0;
      top: 65%;
      transform: translateY(-50%);
      width: 100%;
      text-align: center;
      color: #0fe8f7;
      font-size: 0.32rem;
      user-select: none;
    }
  }
}

.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25%;
  background: {
    size: auto;
    repeat: no-repeat;
    position: center;
    image: url('~@/assets/wholeprocessImage/bodyFooter.png');
  }
}
